<div class="container-fluid">
  <div class="card col-7 mx-auto">
    <div class="card-header">
      <h3 style="text-align: center">Create New Customer</h3>
    </div>
    <div class="card-body">
      <div style="margin-left: 30px">
        <form [formGroup]="formAddNew" (ngSubmit)="addNew()">
          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">Name Customer</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="customerName">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('customerName').invalid && formAddNew.get('customerName').touched">
                Please input right name
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">customer Type </label>
            <div class="col-sm-10">
              <select formControlName="customerType" class="form-group">
                <option value="">--Select--</option>
                <option *ngFor="let customerType of listCustomerType" [ngValue]="customerType">
                  {{customerType.nameType}}
                </option>
              </select>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">Day Of Birth</label>
            <div class="col-sm-10">
              <mat-form-field>
                <input [max]="maxDate" [min]="minDate" formControlName="dayOfBirthCustomer" matInput
                       [matDatepicker]="picker"
                       placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('dayOfBirthCustomer').invalid && formAddNew.get('dayOfBirthCustomer').touched">
                Please input dayOfBirth
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">Customer Gender</label>
            <div class="col-sm-10">
              <input type="radio" value="female" formControlName="customerGender">Female
              <input type="radio" value="male" formControlName="customerGender">Male
              <input type="radio" value="other" formControlName="customerGender">Other

            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">identity Card</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="identityCard">

              <span class="text-danger"
                    *ngIf="formAddNew.get('identityCard').hasError('invalidId') && formAddNew.get('identityCard').touched; else cac">Id invalid</span>
              <!--              </div>-->

              <ng-template #cac>
                 <span class="text-danger" class="alert- alert-danger small" role="alert"
                       *ngIf="formAddNew.get('identityCard').invalid && formAddNew.get('identityCard').touched">
                Please input right identity</span>
              </ng-template>

            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">customer Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="customerPhone">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('customerPhone').invalid && formAddNew.get('customerPhone').touched">
                Please input right phone
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">Customer Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="customerEmail">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('customerEmail').invalid && formAddNew.get('customerEmail').touched">
                Please input right email
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">Customer Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="customerAddress">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('customerAddress').invalid && formAddNew.get('customerAddress').touched">
                Please input right address
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm "></label>
            <div class="col-sm-10">
              <button type="submit" [disabled]="formAddNew.invalid" class="btn btn-outline-primary">
                Create
              </button>
              <a href="/home">
                <button type="button" class="btn btn-outline-success ml-2">Back</button>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

