<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="../css/css.css">
</head>

<body>
<h1>List Customer</h1>
<a th:href="@{/create}">
    <button>Create New Customer</button>
</a>
<p th:text="${message}"></p>
<input id="myInput" type="text" placeholder="Search..">
<select id="language">
    <option value="">Select</option>
    <option value="en" selected>English</option>
    <option value="vn">Vietnamese</option>
    <option value="thailand">ThaiLand</option>
</select>
<div id="myScroll">
    <table style="border-collapse: collapse" border=" 1px solid black">
        <tr>
            <th th:text="#{list.col1}"></th>
            <th th:text="#{list.col2}"></th>
            <th th:text="#{list.col3}"></th>
            <th th:text="#{list.col4}"></th>
            <th th:text="#{list.col5}"></th>
        </tr>
        <tbody id="myTable">
        <tr th:each="customer : ${customerList}">
            <td th:text="${customer.getIdCustomer()}"></td>
            <td th:text="${customer.getNameCustomer()}"></td>
            <td th:text="${customer.getTypeCustomer()}"></td>
            <td th:text="${customer.getGenderCustomer()}"></td>
            <td th:href="@{edit/{id}/id=(${customer.getIdCustomer()})}">Edit</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#language").change(function () {
            var selectedOption = $('#language').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            var position = $(window).scrollTop();
            var bottom = $(document).height() - $(window).height();
            if (position == bottom) {
                var row = Number($('#row').val());
                var allcount = Number($('#all').val());
                var rowperpage = 20;
                row = row + rowperpage;
                if (row <= allcount) {
                    $('#row').val(row);
                    $.ajax({
                        url: 'fetch_details.php',
                        type: 'post',
                        data: {row: row},
                        success: function (response) {
                            $(".post:last").after(response).show().fadeIn("slow");
                        }
                    });
                }
            }
        });
    });

</script>


</body>
</html>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $(".card-item").click(function () {-->
<!--            console.log("OK");-->
<!--            let urlDetail = $(this).find("a").attr("href");-->
<!--            console.log(urlDetail);-->
<!--            $.ajax({-->
<!--                type: "GET",-->
<!--                url: urlDetail,-->
<!--                dataType: "HTML",-->
<!--                success: function (data) {-->
<!--                    $(".modal-body").html(data);-->
<!--                    $('#modelId').modal('show');-->
<!--                }-->
<!--            });-->
<!--            event.preventDefault();-->
<!--        });-->
<!--        $(".card-item").click(function () {-->

<!--        })-->
<!--    });-->
<!--</script>-->