<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="text-align: center">Show List</h1>
<a th:href="@{/create}">
    <button>Create</button>
</a>
<p th:text="${success}" style="color: red"></p>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Kind</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="product : ${list}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getKind()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td><a th:href="@{edit/{id}/(id=${product.getId()})}">Edit</a></td>
        <td><a th:href="@{delete/{id}/(id=${product.getId()})}">Delete</a></td>
        <td><a th:href="@{view/{id}/(id=${product.getId()})}">View</a></td>
    </tr>
</table>
</body>
</html>