<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="post" th:action="@{/create}" th:object="${student}">
    <label>Id</label>
    <input type="text" th:field="*{id}">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <label>Name Class</label>
    <input type="text" th:field="*{nameClass}">
    <label>Gender</label>
    <select th:field="*{gender}">
        <option th:each="gender : ${gender}" th:text="${gender}" th:value="${gender}"></option>
    </select>
   <input type="submit" value="Submit">
</form>
</body>
</html>