
<!--<body>-->
<div class="container-fluid" style="background: black">
  <video style="height: 700px; width: 100%"
         autoplay muted loop playsinline preload="metadata">
    <source src="/assets/image/videoResort.mp4" type="video/mp4">
    I'm sorry; your browser doesn't support HTML5 video in WebM with VP8/VP9 or MP4 with H.264.
  </video>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-5">
      <div class="about_info">
        <div class="section_title mb-20px">
          <h4 style="color: blue">About Us</h4>
          <h3>A Furama Hotel <br>
            with Nature</h3>
        </div>
        <p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
          dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
          sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>
        <a href="#" class="line-button">Learn More</a>
      </div>
    </div>
    <div class="col-xl-7 col-lg-7">
      <div class="about_thumb d-flex">
        <div class="img_1">
          <img src="/assets/image/about_1.png" alt="">
        </div>&nbsp;
        <div class="img_2">
          <img src="/assets/image/about_2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h4>Find the perfect service in Furama for Booking</h4>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col-1"></div>
    <div class="col-3">
      <img src="/assets/image/villa.jpg" style="width: 300px;height: 169px">
      <h5>Villa</h5>
      <p>&#9733;&#9733;&#9733;&#9733;&#9733; 1000 reviews </p>
      <button class="btn btn-outline-info but" data-dismiss="modal">
        Booking
      </button>
    </div>
    <div class="col-3">
      <img src="/assets/image/room.jpg" style="width: 300px">
      <h5>Room</h5>
      <p>&#9733;&#9733;&#9733;&#9733;&#9733; 1234 reviews </p>
      <button class="btn btn-outline-info but" data-dismiss="modal">
        Booking
      </button>
    </div>
    <div class="col-3">
      <img src="/assets/image/house.jpg" style="width: 300px">
      <h5>House</h5>
      <p>&#9733;&#9733;&#9733;&#9733;<i class="fas fa-star-half"></i> 744 reviews </p>
      <button class="btn btn-outline-info but" data-dismiss="modal">
        Booking
      </button>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="container-fluid mt-4" style="background: black">
  <img src="/assets/image/footer.png" style="width: 100%">
</div>
<!--</div>-->
<!--<script src="../../lib_bootstrap/js/jquery-3.5.1.min.js"></script>-->
<!--<script src="../../lib_bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="../../lib_bootstrap/datatables/js/jquery.dataTables.min.js"></script>-->
<!--<script src="../../lib_bootstrap/datatables/js/dataTables.bootstrap4.min.js"></script>-->
<!--</body>-->

