table, tr :hover{
    border-collapse: collapse;
    border: 1px;
}
button :hover{

}
button{
    background-color: greenyellow;
    height: 30px;
    width: 150px;
}
th{
    background-color: lightskyblue;
    height: 40px;
}
td {
    text-align: center;
    width: 150px;
}
