<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <a [routerLink]="['/product/create']">
        <button type="button" class="btn btn-success mt-3"><i
          class="fas fa-user-plus"></i> Create
        </button>
      </a>
<!--      <button type="button" class="btn btn-success mt-3" (click)="add()"><i-->
<!--        class="fas fa-user-plus"></i> Create dialog-->
<!--      </button>-->
    </div>
    <div class="col-6">
      <h1 style="margin-top: 5px; color: #24292e; text-align: center">List Product</h1></div>
    <div class="col-3">
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>

<!--      <form [formGroup]="formSearch" (ngSubmit)="search()">-->
<!--        <div class="input-group mt-3">-->
<!--          <input type="text" class="form-control" placeholder="Search">-->
<!--          <div class="input-group-prepend">-->
<!--            <button type="submit"><span class="input-group-text"><i class="fas fa-search"></i></span></button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form>
        <table class="table table-striped table-hover">
          <thead class="thead">
          <tr style="background:#ddeeff">
            <th (click)="sort('id')">Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date Import</th>
            <th>Date Export</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

          <tr
            *ngFor="let el of elList | filter:term | paginate: { itemsPerPage: 4, currentPage: p }|orderBy: key : reverse ">
            <th>{{el.id | IdConvert : "P"}}</th>
            <td>{{el.name}}</td>
            <td>{{el.typeProduct.typeName}}</td>
            <td>{{el.dateImport | date :"dd/MM/yyyy":'-120'}}</td>
            <td>{{el.dateExport | date :"dd/MM/yyyy":'-120'}}</td>
            <td>{{el.status}}</td>
            <td>
              <div class="d-flex">
                <a class="btn btn-outline-primary btn-sm mr-1" (click)="view(el.id)" role="button">
                  <i class="fas fa-info-circle"></i></a>
                <button class="btn btn-outline-warning btn-sm mr-1" (click)="edit(el.id)">
                  <i class="far fa-user-edit"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm" (click)="delete(el.id)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p style="color: red">{{messageHome}}</p>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <pagination-controls style="margin-right: 30px" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
