<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid" th:fragment="header">
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-2" style="height: 100px">
            <a href="/home">
                <img src="../../image/logo.png" style="height: 100px;width: 80px;font-weight: lighter"></a>
            </a>
        </div>
        <div class="col-3">
            <a href="/home">
                <img src="../../image/8.png" style="height: 90px;width: 240px"></a>
            </a>
        </div>
        <div class="col-3" style="font-size: 12px">
            <p>
                <i class="fas fa-map-marker-alt"></i> 103 - 105 Vo Nguyen Giap Street,<br>
                &ensp; Khue My Ward, Ngu Hanh Son <br>
                &ensp; District,<br>
                &ensp; Danang City, Vietnam,<br>
                &ensp; 7,0 km from Danang Airport
            <p>
        </div>
        <div class="col-3" style="font-size: 12px">
            <p><i class="fas fa-phone-alt"></i> 84-236-3847 333/888</p>
            <p><i class="far fa-envelope"></i> reservation@furamavietnam.com</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light sticky-top"
     style="background-color: #ddeeff;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-lg-5">
            <li class="nav-item active" style="width: 100px">
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home"
                   style="font-size:20px;width: 140px;font-weight:200"><i class="fas fa-home"></i> Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/employee"
                   style="font-size:20px;width: 160px;font-weight: 200"><i class="fas fa-pray"></i> Employee <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer"
                   style="font-size:20px;width: 160px; font-weight: 200"><i class="fas fa-user-secret"></i> Customer <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/service"
                   style="font-size:20px;width: 140px; font-weight: 200 "><i class="fas fa-house-user"></i> Service <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contract"
                   style="font-size:20px;width: 160px;font-weight: 200"><i class="fas fa-book-open"></i> Contract <span
                        class="sr-only">(current)</span> </a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               style="width: 250px">
        <button class="btn btn-outline-info my-2 my-sm-2" type="submit">Search</button>
    </form>
</nav>
</body>
</html>