<div class="container-fluid">
  <div class="card col-7 mx-auto">
    <div class="card-header">
      <h3 style="text-align: center">Create New Service</h3>
    </div>
    <div class="card-body">
      <div style="margin-left: 30px">
        <form [formGroup]="formAddNew" (ngSubmit)="addNew()">
          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">service Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="serviceName">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('serviceName').invalid && formAddNew.get('serviceName').touched">
                Please input right name
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">customer Type</label>
            <div class="col-sm-10">
              <select formControlName="typeRent" class="form-group">
                <option value="">--Select--</option>
                <option *ngFor="let type of typeRent" [ngValue]="type">
                  {{type.nameTypeRent}}
                </option>
              </select>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">area </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="area">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('area').invalid && formAddNew.get('area').touched">
                Please input
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">number Floor </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="numberFloor">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('numberFloor').invalid && formAddNew.get('numberFloor').touched">
                Please input
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">amount Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="amountNumber">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('amountNumber').invalid && formAddNew.get('amountNumber').touched">
                Please input
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">cost Rent</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="costRent">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('costRent').invalid && formAddNew.get('costRent').touched">
                Please input
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm ">status</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="status">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formAddNew.get('status').invalid && formAddNew.get('status').touched">
                Please input
              </div>
            </div>
          </div>

          <div class="input-group">
            <label class="col-sm-2 col-form-label-sm "></label>
            <div class="col-sm-10">
              <button type="submit" [disabled]="formAddNew.invalid" class="btn btn-outline-primary">
                Create
              </button>
              <a href="/home">
                <button type="button" class="btn btn-outline-success ml-2">Back</button>
              </a>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success ml-2" (click)="test()">Test</button>
        </form>
      </div>
    </div>
  </div>
</div>

