<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create New Product</title>-->
<!--    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">-->


<!--    <link rel="stylesheet" type="text/css" th:href="@{/jquery-ui-1.12.1/jquery-ui.min.css}">-->
<!--    <style>-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<form th:action="@{/create}" method="post" th:object="${question}">-->

<!--    <fieldset>-->
<!--        <legend style="color: black" class="text-center">Create New Question</legend>-->
<!--        <div class="form-group row">-->
<!--            <label for="nameProduct" class="col-sm-2">Tiêu đề</label>-->
<!--            <div class="col-sm-5">-->
<!--                <input type="text" class="form-control" id="nameProduct" placeholder="Tiêu đề"-->
<!--                       th:field="*{title}">-->
<!--                                <span style="color: red" th:if="*{#fields.hasErrors('title')}"-->
<!--                                      th:errors="*{title}"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label class="col-sm-2 col-form-label">Content Question</label>-->
<!--            <div class="col-sm-5">-->
<!--                <textarea type="text" class="form-control" placeholder="Content Question"-->
<!--                          th:field="*{question}"></textarea>-->
<!--                                <span style="color: red" th:if="*{#fields.hasErrors('question')}"-->
<!--                                      th:errors="*{question}"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label for="priceProduct" class="col-sm-2 col-form-label">Content Question</label>-->
<!--            <div class="col-sm-5">-->
<!--                <textarea type="text" class="form-control" id="priceProduct" placeholder="answer"-->
<!--                          th:field="*{answer}"></textarea>-->
<!--                                <span style="color: red" th:if="*{#fields.hasErrors('answer')}"-->
<!--                                      th:errors="*{answer}"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label for="dateImport" class="col-sm-2 col-form-label">Date Create</label>-->
<!--            <div class="col-sm-5">-->
<!--                <input type="text" class="form-control" id="dateImport"-->
<!--                       th:field="*{dateCreate}">-->
<!--                                <span style="color: red" th:if="*{#fields.hasErrors('dateCreate')}"-->
<!--                                      th:errors="*{dateCreate}"></span>-->
<!--            </div>-->
<!--        </div>-->


<!--&lt;!&ndash;        <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="col-sm-2 col-form-label">Question Type</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="radio" th:each="questionType : ${listQuestion}" th:field="*{questionType}"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:value="${questionType.idQuestionType}"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:text="${questionType.nameQuestion}">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="form-group row">-->
<!--            <label class="col-sm-2 col-form-label"></label>-->
<!--            <div class="col-sm-5">-->
<!--                <button type="submit" class="btn btn-outline-success">Create</button>-->
<!--                <a th:href="@{/}">-->
<!--                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </fieldset>-->
<!--</form>-->


<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    $(document).ready(function () {&ndash;&gt;-->
<!--&lt;!&ndash;        $("#dateImport, #dateExport").datepicker({dateFormat: "dd/mm/yy", minDate: 0});&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->