<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group row">
    <label for="nameProduct" class="col-sm-2">id </label>
    <div class="col-sm-5">
                <span type="text" class="form-control" id="nameProduct"
                      th:text="${question.id}"></span>
    </div>
</div>
<div class="form-group row">
    <label for="priceProduct" class="col-sm-2 col-form-label">title </label>
    <div class="col-sm-5">
                <span type="text" class="form-control" id="priceProduct"
                      th:text="${question.title}"></span>
    </div>
</div>
<div class="form-group row">
    <label for="dateImport" class="col-sm-2 col-form-label">question </label>
    <div class="col-sm-5">
                <span type="text" class="form-control" id="dateImport"
                      th:text="${question.question}"></span>
    </div>
</div>
<div class="form-group row">
    <label for="dateExport" class="col-sm-2 col-form-label">dateCreate </label>
    <div class="col-sm-5">
                <span type="text" class="form-control" id="dateExport"
                      th:text="${question.dateCreate}"></span>
    </div>
</div>
<div class="form-group row">
    <label for="typeCate" class="col-sm-2 col-form-label">nameQuestion</label>
    <div class="col-sm-5">
                <span type="text" class="form-control" id="typeCate"
                      th:text="${question.questionType.nameQuestion}"></span>
    </div>
</div>

</body>
</html>