<div class="row">
  <h3 style="text-align: center">Customer</h3>
  <div class="form-group">
    <label>Id</label>
    <p class="form-control">{{elTemp.id}}</p>
  </div>
  <div class="form-group">
    <label>Name</label>
    <p class="form-control">{{elTemp.customerName}}</p>
  </div>
  <div class="form-group">
    <label>Name Type</label>
    <input class="form-control" value="{{elTemp.customerType.nameType}}" readonly>
  </div>
  <div class="form-group">
    <label>day Of Birth</label>
    <input class="form-control" value="{{elTemp.dayOfBirthCustomer}}" readonly>
  </div>
  <div class="form-group">
    <label>Gender </label>
    <input class="form-control" value="{{elTemp.customerGender}}" readonly>
  </div>
  <div class="form-group">
    <label>identity Card</label>
    <input class="form-control" value="{{elTemp.identityCard}}" readonly>
  </div>
  <div class="form-group">
    <label> phone Number</label>
    <input class="form-control" value="{{elTemp.customerPhone}}" readonly>
  </div>
  <div class="form-group">
    <label> Email</label>
    <input class="form-control" value="{{elTemp.customerEmail}}" readonly>
  </div>
  <div class="form-group">
    <label> Address</label>
    <input class="form-control" value="{{elTemp.customerAddress}}" readonly>
  </div>
  <div class="form-group">
    <label></label>
    <button mat-dialog-close class="btn btn-outline-success btn-sm">Cancel</button>
  </div>
</div>



