<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        body {
            background-image: url('/image/1.png');
            background-size: 100%;
        }
    </style>
</head>

<body>
<div class="container bg-white">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center; color: #7abaff; text-decoration: #1c7430;font-family: 'Apple Chancery'">
                Show List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a th:href="@{/create}">
                <button type="button" class="btn btn-outline-success" style="height: 50px;width: 200px">
                    Create New Product
                </button>
            </a>
        </div>
        <div class="col-6">
            <form th:action="@{/search}">
                <td><select th:name="category">
                    <option th:value="0" th:text="All"></option>
                    <option th:each="type : ${listCategory}" th:value="${type.idCategory}"
                            th:text="${type.typeCategory}"></option>
                </select></td>
                <input type="text" th:name="search">
                <input type="submit" value="Search" class="btn btn-outline-success">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <table class="table table-striped table-hover">
                    <thead class="thead">
                    <tr class="table-info">
                        <th scope="col">Name Product</th>
                        <th scope="col">Price Product</th>
                        <th scope="col">Status Product</th>
                        <th scope="col">Category Product</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col"><input type="submit" formaction="/deleteSelect" value="Delete"
                                               class="btn btn-outline-danger"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="product : ${list}">
                        <tr th:unless="${checkOption == 1 && id==product.idProduct}">
                            <td th:text="${product.getNameProduct()}"></td>
                            <td th:text="${product.getPriceProduct()}"></td>
                            <td th:text="${product.getStatusProduct()}"></td>
<!--                            <td><a th:href="@{/category/{id}(id=${product.category.idCategory})}"-->
                             <td  th:text="${product.category.typeCategory}"></td>
                            <td><a th:href="@{/edit/{id}(id=${product.idProduct})}"><i class="fas fa-user-edit"></i>
                            </a>
                            </td>
                            <td><a th:href="@{/delete/{id}(id=${product.idProduct})}"><i
                                    class="far fa-trash-alt"></i></a></td>
                            <td><input type="checkbox" th:name="select" th:value="${product.getIdProduct()}">
                            </td>
                        </tr>
                        <!--        edit-->
                        <tr th:if="${checkOption ==1 && id==product.idProduct}" th:object="${product}">
                            <input type="hidden" readonly th:field="*{idProduct}">
                            <td><input type="text" th:field="*{nameProduct}"><br>
                                <span style="color: red" th:if="${#fields.hasErrors('nameProduct')}"
                                      th:errors="*{nameProduct}"></span></td>
                            <td><input type="text" th:field="*{priceProduct}"><br>
                                <span style="color: red" th:if="${#fields.hasErrors('priceProduct')}"
                                      th:errors="*{priceProduct}"></span></td>
                            <td><select type="text" th:field="*{statusProduct}">
                                <option th:value="Available" th:text="Available"></option>
                                <option th:value="Non-Available" th:text="Non-Available"></option>
                            </select></td>
                            <td><select th:field="*{category}">
                                <option th:each="type : ${listCategory}" th:value="${type.idCategory}"
                                        th:text="${type.typeCategory}"></option>
                            </select></td>
                            <td><input type="submit" formmethod="post" formaction="/edit" value="Update"
                                       class="btn btn-outline-success"></td>
                        </tr>
                    </th:block>
                    <!--                    create-->
                    <tr th:if="${checkCreate ==1}" th:object="${product}">
                        <td><input type="text" th:field="*{nameProduct}"><br>
                            <span style="color: red" th:if="${#fields.hasErrors('nameProduct')}"
                                  th:errors="*{nameProduct}"></span></td>
                        <td><input type="text" th:field="*{priceProduct}"><br>
                            <span style="color: red" th:if="${#fields.hasErrors('priceProduct')}"
                                  th:errors="*{priceProduct}"></span></td>
                        <td><select th:field="*{statusProduct}">
                            <option th:value="Available" th:text="Available"></option>
                            <option th:value="Non-Available" th:text="Non-Available"></option>
                        </select></td>
                        <td><select th:field="*{category}">
                            <option th:each="type : ${listCategory}" th:value="${type.idCategory}"
                                    th:text="${type.typeCategory}"></option>
                        </select></td>
                        <td><input type="submit" value="Create" formmethod="post" formaction="/create"
                                   class="btn btn-outline-secondary">
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div style="text-align: right">
        <a th:href="@{'/'(page=${list.number - 1})}" th:if="${list.hasPrevious()}"><i
                class="far fa-arrow-alt-circle-left"></i></a>
        <span th:text="${list.number + 1}"></span>/<span th:text="${list.totalPages}"></span>
        <a th:href="@{'/'(page=${list.number + 1})}" th:if="${list.hasNext()}"><i
                class="far fa-arrow-alt-circle-right"></i></a>
    </div>
</div>
<script src="../../js/jquery-3.5.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>